<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongrong.datasource.dao.mapper.qianhai.QianhaiCredooPOMapper">
  <resultMap id="BaseResultMap" type="com.tongrong.datasource.modul.QianhaiCredooPO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="trans_no" jdbcType="VARCHAR" property="transNo" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="id_no" jdbcType="VARCHAR" property="idNo" />
    <result column="id_type" jdbcType="VARCHAR" property="idType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="mobile_no" jdbcType="VARCHAR" property="mobileNo" />
    <result column="seq_no" jdbcType="VARCHAR" property="seqNo" />
    <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
    <result column="credoo_score" jdbcType="VARCHAR" property="credooScore" />
    <result column="bse_info_score" jdbcType="VARCHAR" property="bseInfoScore" />
    <result column="fin_require_score" jdbcType="VARCHAR" property="finRequireScore" />
    <result column="pay_ability_score" jdbcType="VARCHAR" property="payAbilityScore" />
    <result column="perform_score" jdbcType="VARCHAR" property="performScore" />
    <result column="action_score" jdbcType="VARCHAR" property="actionScore" />
    <result column="vir_asset_score" jdbcType="VARCHAR" property="virAssetScore" />
    <result column="trend_score" jdbcType="VARCHAR" property="trendScore" />
    <result column="data_buildtime" jdbcType="VARCHAR" property="dataBuildtime" />
    <result column="er_code" jdbcType="VARCHAR" property="erCode" />
    <result column="er_msg" jdbcType="VARCHAR" property="erMsg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="field1" jdbcType="VARCHAR" property="field1" />
    <result column="field2" jdbcType="VARCHAR" property="field2" />
    <result column="field3" jdbcType="VARCHAR" property="field3" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="weibo_no" jdbcType="VARCHAR" property="weiboNo" />
    <result column="weixin_no" jdbcType="VARCHAR" property="weixinNo" />
    <result column="qq_no" jdbcType="VARCHAR" property="qqNo" />
    <result column="taobao_no" jdbcType="VARCHAR" property="taobaoNo" />
    <result column="jd_no" jdbcType="VARCHAR" property="jdNo" />
    <result column="amazon_no" jdbcType="VARCHAR" property="amazonNo" />
    <result column="yhd_no" jdbcType="VARCHAR" property="yhdNo" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.tongrong.datasource.modul.QianhaiCredooPO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="trans_no" jdbcType="VARCHAR" property="transNo" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="id_no" jdbcType="VARCHAR" property="idNo" />
    <result column="id_type" jdbcType="VARCHAR" property="idType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="mobile_no" jdbcType="VARCHAR" property="mobileNo" />
    <result column="seq_no" jdbcType="VARCHAR" property="seqNo" />
    <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
    <result column="credoo_score" jdbcType="VARCHAR" property="credooScore" />
    <result column="bse_info_score" jdbcType="VARCHAR" property="bseInfoScore" />
    <result column="fin_require_score" jdbcType="VARCHAR" property="finRequireScore" />
    <result column="pay_ability_score" jdbcType="VARCHAR" property="payAbilityScore" />
    <result column="perform_score" jdbcType="VARCHAR" property="performScore" />
    <result column="action_score" jdbcType="VARCHAR" property="actionScore" />
    <result column="vir_asset_score" jdbcType="VARCHAR" property="virAssetScore" />
    <result column="trend_score" jdbcType="VARCHAR" property="trendScore" />
    <result column="data_buildtime" jdbcType="VARCHAR" property="dataBuildtime" />
    <result column="er_code" jdbcType="VARCHAR" property="erCode" />
    <result column="er_msg" jdbcType="VARCHAR" property="erMsg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="field1" jdbcType="VARCHAR" property="field1" />
    <result column="field2" jdbcType="VARCHAR" property="field2" />
    <result column="field3" jdbcType="VARCHAR" property="field3" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="weibo_no" jdbcType="VARCHAR" property="weiboNo" />
    <result column="weixin_no" jdbcType="VARCHAR" property="weixinNo" />
    <result column="qq_no" jdbcType="VARCHAR" property="qqNo" />
    <result column="taobao_no" jdbcType="VARCHAR" property="taobaoNo" />
    <result column="jd_no" jdbcType="VARCHAR" property="jdNo" />
    <result column="amazon_no" jdbcType="VARCHAR" property="amazonNo" />
    <result column="yhd_no" jdbcType="VARCHAR" property="yhdNo" />
  </resultMap>
</mapper>