<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="InterfaceInfoPO" type="com.lemon.chen.model.InterfaceInfoPO" />
	</typeAliases>
	
	
	<environments default="development">
	    <environment id="development">
		<transactionManager type="JDBC" />
			<dataSource type="POOLED">  
                            <property name="driver" value="com.mysql.jdbc.Driver" />
			    <property name="url" value="jdbc:mysql://localhost:3306/tongrong_datasource?characterEncoding=UTF-8" />
			    <property name="username" value="root" />
			    <property name="password" value="root" />
                       </dataSource>
		</environment>
	</environments>

	<mappers>
	
	<!-- 当使用注解的情况下的时候，就要注释掉这坨 -->
	     <!-- <mapper resource="com/lemon/chen/model/InterfaceInfoPOMapper.xml" /> -->
	</mappers>
</configuration>